.socialheader{
    padding: 12px 125px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e3e6;
    overflow: hidden;
}
.contact-info{
    display: flex;
    gap: 20px;
}
.social-info{
    color: #63666b;
}
.nav--kamex{
    padding: 0px 125px;
    overflow: hidden;
}
.nav--link{
    color: #111111;
    font-family: 'Roboto'; 
    font-weight: 600; 
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.nav--links{
    color: #111111;
    font-family: 'Roboto'; 
    text-decoration: none;
}
.nav-link{
    color: black;
}
.nav--link:hover{
    color: #007bff;
}
@media(max-width: 1094px){
    .nav--kamex, .socialheader{
        padding: 50px 60px;
    }
}
@media(max-width: 950px){
    .soc-3{
       display: none;
    }
    .socialheader{
        padding: 10px;
     }
}
@media(max-width: 804px){
    .soc-1{
        display: none;
     }
}
@media(max-width: 991px){
    .nav--link{
        color: white;
    }
}
@media(max-width: 529px){
    .nav--kamex{
        padding: 10px;
    }
}
@media (max-width: 425px){
    .nav--kamex{
        padding: 1px;
    }
}
@media(max-width: 313px){
    .socialheader{
        flex-direction: column;
        align-items: center;
        gap: 10px;
     }
}